{
  "extends": ["react-app", "plugin:react-hooks"],
  "rules": {
    "no-unused-vars": [
      2,
      {
        "ignoreRestSiblings": true
      }
    ],
    "no-unused-expressions": [
      2,
      {
        "allowTaggedTemplates": true
      }
    ]
  }
}
